* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial;
}

.header {
    text-align: center;
    padding: 32px;
}

/* Contenedor flex con wrap */
.container {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

/* Columnas iguales */
.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
}
