.tarjeta{
    border-style: solid;
    border-radius: 5px;
    border-color: goldenrod;
    border-width: 2px;
    width: 50%;
    margin: 25px auto 25px;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
}